body {
  background-color: black;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

.header {
  position: fixed;
  height: 69px;
  display: inline-flex;
  border-bottom: 1px solid seashell;
}

.container1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  height: 50px;
  margin: 10px 0;
}

.container2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  text-decoration: underline;
  margin: 10px 0;
}


